.zoo-options-heading {
    background: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 35px;
    line-height: 35px;
    margin: 0 -12px 10px;
    padding: 0 15px;
    font-weight:600;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.zoo-options-heading-block {
    text-transform: uppercase;
    letter-spacing: 1px;
    height: 30px;
    line-height: 30px;
    font-weight: 600;
    font-size: 14px;
    color: #252525;
    border-bottom: 2px solid #ccc;
}

.customize-control-kirki-radio-image input + label img {
    border: 3px solid #f5f5f5
}

.customize-control-kirki-radio-image .image input:checked + label img, .customize-control-kirki-radio-image .image input + label img:hover {
    border: 3px solid #3498db
}

.customize-control-kirki-radio-buttonset .buttonset .switch-label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.customize-control-kirki-switch .switch input:checked + label{
    background: #00BCD4 !important;
}
.zoo-notice{
    border:1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    padding:5px 10px 10px 45px;
    background: #fff;
    position: relative;
}
.zoo-notice i{
    position: absolute;
    top:0;
    left:0;
    background: #252525;
    color: #fff;
    font-size: 18px;
    padding:0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.customize-control-kirki-switch .switch label {
    width: 90px;
    border-radius: 20px;
    display: inline-block;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    font-family: inherit !important;
}
.customize-control-kirki-switch .switch label::after{
    border-radius:50%;
    width: 30px;
    height: 30px;
}
.customize-control-kirki-switch .switch label span {
    width: 50%;
    float: left;
    box-sizing: border-box;
    font-size: 12px;
    text-transform: uppercase;
    padding:0 5px !important;
    text-align: center;
    color:#fff;
    letter-spacing: 0.5px;
}
.customize-control-kirki-switch .switch label span.switch-off{
    text-align: left;
}
.customize-control .attachment-media-view .placeholder, .customize-control-header .placeholder{
    background:#fff
}
.customize-control button.button{
    background: #fff;
    box-shadow: none;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    transition: all 300ms;
    border-color:#ccc;
}
.customize-control button.button:hover{
    box-shadow: -1px 0 5px rgba(0,0,0,0.4);
    border-color:#ccc;
}
.customize-control-kirki-switch .switch{
    margin-bottom: 10px !important;
}
