/**
	 * Theme Name: Fona Child
	 * Description: This is a child theme of Fona
	 * Author: ZooTemplate
	 * Author URI: http://zootemlate.com
	 * Template: fona
	 * Version: 1.1.9
	 */

/* .menu-center #icon-header {
  display: none;
} */

.menu-right-layout #site-branding {
  width: 100%;}

#check-me-out-link {
  margin: 0 auto;
}

.fb_dialog {
  left: 18pt !important;
}

.fb-customerchat iframe {
  left: 9pt !important;
}

span.onsale {
	display: none !important;
}

.woocommerce-form-login-toggle {
	display: none;
}

.wcppec-checkout-buttons__separator {
	display: none;
}